* {
  margin: 0;         
  padding: 0;
  border: 0;
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
}


:root {
  --app_background:#fff;
  --app_background:#aaa;
}

.app 
{
  height:100vh;
  min-height:100vh;
 /* height: fill-available*/;
  width:100vw;
  background: var(--app_background);
  position: absolute;
  top:0;
  left:0;
}


:root {
  --player_interface_background: #fff;
  --player_interface_text_color: #000;
  --player_interface_border_color: var(--player_interface_text_color);
}


:root{
  --playing_interface_height_when_full:99vh;
  --playing_interface_height_when_minimized: 15vh;
}


.player_interface{
  position: absolute;
  
  left: 0.5vw;
  right: 0.5vw;
  
  --border-radius: 4vmin ;
  border: 1px solid var(--player_interface_border_color);
  background: var(--player_interface_background);
  color: var(--player_interface_text_color);
  

  display: flex;
  justify-content:start;
  align-items: center;
}

.player_interface--full {
  top: 0.5vh;
  bottom: 0.5vh; 

  flex-direction: column;
}

.player_interface--minimized {
  --height: var(--playing_interface_height_when_minimized);
  height: var(--height);
  min-height: var(--height);
  bottom: 5vh;
  flex-direction: row-reverse;
}


.player_interface__progress {
  width:100%;
  position: relative;
}

.player_interface--full .track_info__textual  {
  position: relative;
}
.player_interface--minimized .track_info__textual {
  position:absolute;
  left:0;
}

.track_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.track_info__cover{
  background: repeating-linear-gradient(-45deg,
      lightcyan 0% 1%,
      lightgray 9% 11%,
      lightcyan 19% 20%
      );
  /*background: repeating-linear-gradient(45deg,cyan 0% ,grey 5%, cyan 10% );*/
}

.player_interface--full .track_info__cover{
  --side: 95vmin;
  --border-radius: 5vmin;
  height: var(--side);
  width:  var(--side);
  border-radius: var(--border-radius);

}

.player_interface--full .track_info__textual {
  position: absolute;
  
  margin:auto;
  left: 0;
  right: 0;
  top:0;
  
  width:100%;
  height: fit-content;

}

.player_interface--full .player_interface__progress {
  
  margin: auto;/*allows centering using top-margin-width-margin-bottom*/
  top:0;
  bottom:0;
  height:fit-content;

  left:0;
  right:0;
  width: 100%;


 
} 

.play_progress{
  --time-border-radius: 0.2em;
  border: 1px dotted  black;
  border-radius: var(--time-border-radius);
  
  display:flex;
  justify-content:space-around;
  align-items:center;

  min-width: 50vw;

  position:relative;
}



.play_progress__past_shadow{
 position: absolute;
 margin:auto;
 left: 0;
 right: 50%;
 
 top:0;
 bottom:0;
 background: hsla(0turn,0%,50%,0.25 );
 z-index: 1;
 border-right: 2px solid hsla(0turn,0%,25%,0.5);
}

.play_progress__time_current,
.play_progress__time_total {

  --time-border-radius: 0.2em;
  --time-padding: var(--time-border-radius); 
  --time-font-height: 1em;

  border-radius: var(--time-border-radius);
  padding: var(--time-padding);
  font-size: var(--time-font-height);

  top:0;
  bottom:0;

  margin-top:auto;
  margin-bottom: auto;

  height: fit-content;
  
  position: absolute;

  z-index:10;
}

.play_progress__time_group{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:2;
}

.play_progress__time_current {
  right:50%;
  width: fit-content;
  margin-right:0;
  margin-left: auto;

  background: hsla(0turn,0%,95%,0.85); 
  color: black;
  /* border: 1px solid black;   */

}

.play_progress__time_total {
  left:50%;
  width:fit-content;
  margin-left:0;
  margin-right: auto;

  background: hsla(0turn,0%,15%,0.75);
  color:white;
  /* border: 1px solid white;   */

}


.player_interface--minimized .track_info__cover{
  border-radius: 1vmin;
  height:15vmin;
 width:15vmin;

   
}



.play_progress__bar {
  --progress_bar_height_when_full:30vh;
  --progress_bar_height_when_minimized:100%;

  min-height: 1vh;
  
  width: 100%;

  background:
   linear-gradient(0turn,   hsla(0.12turn,95%,75%,0.5),hsla(0.5turn, 95%,65%,0.5))
  ,linear-gradient(0.67turn,hsla(0.45turn,95%,65%,0.5),hsla(0.83turn,95%,45%,0.5))
  ,linear-gradient(0.33turn,hsla(0.79turn,95%,55%,0.5),hsla(1.17turn,95%,85%,0.5));


  animation: progress_filter_hue 10s linear infinite alternate;
  

  --play_progress: 20%;

  

  --load_progress: 65%;


  

}

.play_progress--play .play_progress__bar {}

.play_progress--pause .play_progress__bar {
  animation-play-state: paused;
}

.player_interface--minimized .play_progress__bar{
  height:var(--progress_bar_height_when_minimized);

  position: absolute;
  bottom:0;
  left:0; 
  z-index: -1;
}

.player_interface--full .play_progress__bar{
  height:var(--progress_bar_height_when_full);
  left: calc(50% - var(--play_progress) );
  position: relative;
  top:0;
}


.controls__group--hidden {
  display:none;
}

@keyframes track_info_scroll {
  0%, 50% {
    transform: translateX(1%);
    left: 0%;
  }
  
  90%, 100%{
    transform: translateX(-101%);
    left: 99%;
  }
}


@keyframes progress_filter_hue {
  0%, 3%, 97%, 100% {
    /*background: magenta;*/
    filter: hue-rotate(0deg);
  }
  30%, 36% {
    /*background: yellow;*/
    filter: hue-rotate(120deg);
  }
  64%, 70% {
    /*background: cyan;*/
    filter: hue-rotate(240deg);
  }
}




